
body{
    background-color: darkseagreen;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    background-color: brown;
    color: wheat;
    text-align: center;
    padding: 40px 0;

}
section{
    margin: 30px;
    padding: 20px;
    background: white;
    border-radius: 10px;

}
button{
    background-color: brown(121, 5, 5);
    color: red;
    border: 30pxd;
    padding: 10px 40px;
    cursor: pointe;

}
button:hover{
    background: #555;
    size: 20px;
}